//Define template for add multi classes modal dailog component (Vue.js)
script#add-multi-class-modal-template(type='text/x-template')
  div#add-multi-class-modal.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 添加课程到当前班级
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 时间/日期:
              div.col-sm-6
                div#class_date.input-group.date
                  input.form-control(text='text')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 所须课时:
              div.col-sm-2
                input.form-control(type='number',name='cost',min='0',step='0.1',value=0)
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 教室:
              select#class_room.form-control.col-sm-4(style='margin-left:15px;width:auto',v-model='room')
                option(v-for='(name, id) in classrooms',:value='id') {{name}}
              div.col-sm-offset-2.col-sm-10
                div.checkbox
                  label
                    input(type='checkbox',name='recurrence',v-model='isRepeated')
                    |每周重复
            div.recurrence-panel(style='display:none',v-show='isRepeated')
              div.form-group(style='margin-bottom:7px')
                label.control-label.col-sm-2 每周:
                div.weekdays.col-sm-10(style='display:flex;flex-wrap:wrap')
                  - each day,index in ['星期日','星期一','星期二','星期三','星期四','星期五','星期六']
                    div.checkbox(style='margin:0 30px 0 0')
                      label
                        input(type="checkbox", name="weekday", value="#{index}",v-model='weekdays')
                        | #{day}
              div.form-group(style='margin-bottom:7px')
                label.control-label.col-sm-2 开始日期:
                div.col-sm-5
                  div#class_begin.input-group.date
                    input.form-control(text='text',name='begin')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
              div.form-group(style='margin-bottom:7px')
                label.control-label.col-sm-2 结束:
                div.col-sm-5
                  div#class_end.input-group.date
                    input.form-control(text='text',name='end')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button.btn.btn-success(type="button",@click='handleOK') 确定