//Define template for date/time picker component (Vue.js)
script#date-picker-template(type='text/x-template')
  div.input-group.date
    input.form-control(type="text",
          :class="inputClass",
          :id="id",
          :name="name",
          :placeholder="placeholder",
          :required="required",
          :readOnly="readOnly",
          :disabled="disabled")
    span.input-group-addon
      span.glyphicon.glyphicon-calendar