extends vuetifylayout

block append js
  if ENV_DEVELOPMENT
    // load echarts asynchronously
    //script(defer src=CDN_FILES.echarts_dev)
  else
    //script(defer src=CDN_FILES.echarts)
  script(src='/js/cockpit.js')

block content
  app#app
