extends vuetifylayout

block append js
  if ENV_DEVELOPMENT
    // load echarts asynchronously
    //script(defer src=CDN_FILES.echarts_dev)
  else
    //script(defer src=CDN_FILES.echarts)
  script(type="module" src=getModulePath('cockpit/cockpit.js'))

block content
  div#app
