extends layout

block prepend css
  link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
block append js
  //script(src='https://code.jquery.com/jquery-1.12.3.min.js', integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=', crossorigin='anonymous')
  script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js")
  script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")