#whole {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
  text-align: right;
}

.control-label-sm {
  line-height : 30px;
  padding : 0 0 0 7px;
  margin-bottom : 0px;
  text-align : right;
  font-size : 14px;
}

.form-group-sm input {
  font-size : 14px  !important;
}

.form-group-sm p {
  font-size : 14px  !important;
  padding-left : 1px !important;
  padding-top : 5px !important;
  padding-bottom : 5px !important;
}

#cls_table {
  table-layout : fixed;
  tbody td p {
    display:inline-block;
    height : 100%;
    padding-bottom: 16px;
    margin-bottom : -6px;
  }
}

.class-row {
  margin-left:-7px;
  margin-right:-7px;
}

.class-separator {
  border-top : darkgray solid 1px;
  margin : 0 -7px 3px -7px;
}

.date-col {
  padding-left:9px;
  padding-right:0px;
  color : #2b2b2b;
  font-size:12px;
  min-width:50px;
}

.content-col {
  padding-left : 7px;
  padding-right : 9px;
}

.cls-col {
  float : left;
  width : 80%;
  min-height : 60px;
}

.cls-tip {
  color : #808080;
  font-size : 12px;
}

.cls-story {
  border : 1px solid;
  color : #31708f;
}

.cls-event {
  border : 1px solid;
  color : #a94442;
}

.book-col {
  float : right;
  width : 20%;
  max-width : 60px;
}

.finish-btn {
  float:right;
  margin-top:3px;
}

.book-btn {
  .finish-btn;
  padding-bottom:3px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.remain-btn {
  font-size:12px;
  float:right;
  padding:0px;
  width:54px;
  background-color:#f0ad4e !important;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  opacity:1    !important; // remain button is disabled by default, keep the opacity as 1 for better visual
}

.remain-span {
  padding : 2px;
  margin-left:1px;
  color:#f0ad4e   !important;
}