extends ../../index

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  if ENV_DEVELOPMENT
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.js")
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.js")
  else
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.min.js")
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.min.js")
  script(src='/js/course_view.js')
  style.
    .container .page-header {
      margin: 15px 0;
      padding-bottom: 3px;
    }

block page
  include ../../components/add-multi-class-modal
  include ../../components/show-booking-result-modal
  include ../../components/member-select-modal
  div#course_app.container(style='padding-top:69px',data-course-id='#{courseID}')
    ol.breadcrumb
      li
        a(href="../home") 主页
      li
        a(href="../course") 班级列表
      li.active 查看班级
    div.page-header
      h3(style='margin-top:0;display:inline-block') 基本信息
      button.btn.btn-danger(type='button',style='float:right',:disabled='!course._id',@click='deleteCourse') 删除班级
    form.form-horizontal
      div.form-group
        label.col-sm-2.control-label 状态:
        select.col-sm-5.form-control(v-model='course.status',@change='closeAlert',style='margin-left:15px;width:auto')
          option.text-success(value='active') 进行中
          option.text-danger(value='closed') 结束
      div.form-group(:class='{"has-error": errors.name}')
        label.col-sm-2.control-label 名称:
        div.col-sm-5(data-toggle="tooltip",data-placement="right",:title="errors.name")
          input.form-control(v-model.trim='course.name', placeholder='班级名称')
        div.col-sm-5
          p.form-control-static(style='color:#808080')
            small {{course.createDate | formatDate}}创建
      div.form-group
        label.control-label.col-sm-2 教室:
        select#roomList.form-control.col-sm-4(style='margin-left:15px;width:auto',v-model='course.classroom')
          - each room in classroom
            option(value=room.id)= room.name
      div.form-group
        label.control-label.col-sm-2 简介:
        div.col-sm-10
          textarea.form-control(rows='3', v-model.trim='course.remark')
      div.form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='button',:disabled='!course._id || hasError',v-on:click='saveBasicInfo') 保存
    div.page-header
      h3 成员
    form.form-horizontal
      div.form-group
        div.col-sm-2
          button.btn.btn-primary.btn-sm(type="button",:disabled='!course._id',@click='showAddMemberDlg')
            span.glyphicon.glyphicon-plus 添加
        div.col-sm-5
          ul.list-group(style='margin-bottom:0px')
            li.list-group-item(v-for="member in course.members")
              span.glyphicon.glyphicon-user.text-primary(style='margin-right:3px')
              span.badge(style='background-color:#d9534f;cursor:pointer',@click='removeMember(member)') 移除
              a.badge(:href='"../member/" + member.id',style='margin-right:3px;background-color:#337ab7',target='_blank') 查看
              //span.badge(style='margin-right:3px;background-color:#337ab7;cursor:pointer',@click='showMemberCourse(member)') 分配
              | {{member.name}}
              div.small(style='color:#777') 学习进度
              div.progress(style='margin-bottom:0px;display:flex',v-show='progressStatus[member.id].total')
                div.progress-bar.progress-bar-danger(:style='{width: Math.round(progressStatus[member.id].absent*100/progressStatus[member.id].total) + "%"}',:title='"缺席" + progressStatus[member.id].absent + "节"') {{progressStatus[member.id].absent}}
                div.progress-bar.progress-bar-success(:style='{width: Math.round(progressStatus[member.id].done*100/progressStatus[member.id].total) + "%"}',:title='"已上" + progressStatus[member.id].done + "节"') {{progressStatus[member.id].done}}
                div.progress-bar.progress-bar-info.progress-bar-striped.active(:style='{width: Math.floor(progressStatus[member.id].left*100/progressStatus[member.id].total) + "%"}',:title='"待上" + progressStatus[member.id].left + "节"') {{progressStatus[member.id].left}}
                div(style='float:left;text-align:center',:style='{width: Math.floor(progressStatus[member.id].uninvolved*100/progressStatus[member.id].total) + "%"}',:title='"未预约" + progressStatus[member.id].uninvolved + "节"') {{progressStatus[member.id].uninvolved}}
          small(style='color:#777') 共{{membersCount}}人
    div.page-header
      h3 课程
    form.form-horizontal
      div.form-group
        div.col-sm-2
          button.btn.btn-primary.btn-sm(type="button",:disabled='!course._id',@click='showAddClassDlg')
            span.glyphicon.glyphicon-plus 添加
        div.col-sm-5
          ul.list-group(style='margin-bottom:0px')
            li.list-group-item(v-for="item in sortedClasses")
              h4(style='margin: 3px 0') {{item.name}}
              small(style='position:absolute;right:15px;top:11px') {{item.cost}}课时
              a(:href='"../class/" + item._id',style='margin-right:3px',target='_blank')
                i.glyphicon.glyphicon-calendar
              span.small {{item.date | formatDateTime}} - {{item.classroom | formatClassroom}}
              span.badge(style='background-color:#d9534f;cursor:pointer',@click='removeClass(item)') 删除
              a.badge(:href='"../class/" + item._id',style='margin-right:3px;background-color:#337ab7',target='_blank') 查看
        div.col-sm-5
          div
            small(style='color:#777') 共{{classesCount}}节
          div
            small(style='color:#777') 已上{{completedClassesCount}}节/未上{{classesCount - completedClassesCount}}节
    div(style='height:20px')
    add-multi-class-modal(ref='modal',:classrooms='classrooms',@ok='addClass')
    view-member-course-modal(ref='assignClassDlg',courseID='#{courseID}')
    show-booking-result-modal(ref='summaryDlg')
    member-select-modal(ref='memberSelectDlg',@ok='addMembers',:multi-selection='true')
      div.checkbox(slot='toolbar',style='position:absolute;top:25px;left:20px')
        label
          input(type='checkbox',checked,disabled)
          |仅参加尚未开始的课程