extends ../index

block navlist
  ul.nav.navbar-nav
    li.active
      a(href='#') 课程表
    li
      a(href='member') 会员
    li
      a(href='course') 班级
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css")
  link(rel="stylesheet",href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js")
  script(src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src='/js/main.js')

block page
  div.container(style={'padding-top': '50px'})
    div.row(style={'margin-top': '15px'})
      div.col-sm-4
        button#previous_week.btn.btn-primary.btn-sm 上一周
        button#current_week.btn.btn-primary.btn-sm 本周
        button#next_week.btn.btn-primary.btn-sm 下一周
      div.col-sm-2.pull-right
        select#chooseRoom.form-control.input-sm(style='float:right')
          - each room in classroom
            option(value=room.id)= room.name
        //span(style='float:right;line-height:30px') 教室: 
    div#create_cls_panel.row(style='margin-top:15px;display:none')
      div.col-sm-12(style='height:200px;background-color:#eee')
        a.btn.btn-success(style='margin:83px auto;display:table',href='setting') 创建教室
    table#cls_table.table.table-bordered.table-hover(style='margin-top:15px;display:none')
        thead#schedule_header
          tr
            th(style='width:60px;text-align:center') 时间
            th 星期一
            th 星期二
            th 星期三
            th 星期四
            th 星期五
            th 星期六
            th 星期日
        tbody
          - each item in ["上午一","上午二","下午一","下午二","晚上一","晚上二"]
            tr
              td(style='text-align:center')= item
              each val in [1, 2, 3, 4, 5, 6, 7]
                td
                  p
                  div.btn-group.btn-group-xs.pull-right
                    button#add_cls.btn.btn-default(data-toggle='modal',data-target='#cls_dlg') +

  div#cls_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加课程
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='cls_name') 课程名称:
              div.col-sm-10
                input#cls_name.form-control(type='text',placeholder='课程描述',autofocus)
            div.form-group
              label.control-label.col-sm-2(for='cost') 所须课时:
              div.col-sm-2
                input.form-control(type='number',name='cost',min='0',step='0.1')
            div.form-group
              label.control-label.col-sm-2 时间:
              div.col-sm-10
                p#cls_date.form-control-static(style="width:100px;float:left")
                div#cls_time.input-group.date(style="width:150px;float:left")
                  input.form-control(type="text")
                  span.input-group-addon
                    span.glyphicon.glyphicon-time
            div.form-group
              label.control-label.col-sm-2(for='') 年龄:
              div.col-sm-10(style="display:inline-flex")
                input.form-control(type='number',name='age_min',min='0',style={'width':'60px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px','float':'left'}) 至
                input.form-control(type='number',name='age_max',min='0',style={'width':'60px','margin-left':'3px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px'}) 月
            div.form-group
              label.control-label.col-sm-2(for='cls_capacity') 最大人数:
              div.col-sm-2
                input#cls_capacity.form-control(type='number',name='cls_capacity',min='0')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#create_cls.btn.btn-success(type="button") 添加

  div#view_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 查看课程
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2(for='cls_name') 课程名称:
              div.col-sm-10
                input#cls_name.form-control(type='text',placeholder='课程描述',autofocus)
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 所须课时:
              div.col-sm-10
                p#cls_cost.form-control-static
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 时间:
              div.col-sm-10
                p#cls_date.form-control-static
            div.form-group
              label.control-label.col-sm-2(for='') 年龄:
              div.col-sm-10(style="display:inline-flex")
                input.form-control(type='number',name='age_min',min='0',style={'width':'60px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px','float':'left'}) 至
                input.form-control(type='number',name='age_max',min='0',style={'width':'60px','margin-left':'3px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px'}) 月
            div.form-group
              label.control-label.col-sm-2(for='cls_capacity') 最大人数:
              div.col-sm-2
                input#cls_capacity.form-control(type='number',name='cls_capacity',min='0')
          table#member_table(data-toggle="table",data-checkbox-header='false',data-striped='true',data-sort-name='bookDate',data-unique-id="member")
            thead
              tr
                //th(data-field='_id',data-visible='false') ID
                th(data-field='bookDate',data-formatter='dateFormatter',data-sortable='true') 预约时间
                th(data-field='userName',data-sortable='true') 宝宝姓名
                th(data-field='contact') 联系方式
                th(data-field='quantity') 预约人数
                th(data-title='取消',data-align='center',data-formatter='deleteFormatter',data-events='handleDeleteBook')
        script(type='text/javascript').
            function dateFormatter(value) {
                if (value) {
                    return moment(value).format('ll');
                } else {
                    return undefined;
                }
            };
            function deleteFormatter(value) {
                return [
                    '<a class="remove text-danger" href="javascript:void(0)" title="取消">',
                    '<i class="glyphicon glyphicon-remove"></i>',
                    '</a>'
                ].join('');
            };
        div.modal-footer
          button#add_reservation.btn.btn-primary.pull-left(type="button") 预约
          button#add_books.btn.btn-primary.pull-left(type="button") 添加绘本
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#modify_cls.btn.btn-success(type="button") 修改
  div#search_member.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加预约
        div.modal-body
          form.form-inline
            div.form-group(style='margin-right:7px')
              label.control-label 课程名称:
              p#cls_name.form-control-static(style='vertical-align:middle')
            div#toolset.form-group
              label.control-label(for='quantity') 人数:
              input#quantity.form-control(type='number',name='quantity',min='1',step='1')
          table(data-toggle="table",data-checkbox-header='false',data-striped='true',data-search='true',data-pagination='true',data-page-size='8',data-unique-id="_id",data-search-align='left')
            thead
              tr
                //th(data-field='_id',data-visible='false') ID
                th(data-field='name',data-sortable='true') 宝宝姓名
                th(data-field='contact') 联系方式
                th(data-field='membership',data-formatter='creditFormatter') 剩余课时
                th(data-title='预约',data-align='center',data-formatter='addBookFormatter',data-events='handleAddBook')
        script(type='text/javascript').
            function addBookFormatter(value) {
                return [
                    '<a class="book text-primary" href="javascript:void(0)" title="预约">',
                    '<i class="glyphicon glyphicon-plus-sign"></i>',
                    '</a>'
                ].join('');
            };
            function creditFormatter(membership) {
                if (membership && membership[0]) {
                    // A better way of 'toFixed(1)'
                    if (typeof(membership[0].credit) == 'number') {
                        return Math.round(membership[0].credit * 10)/10;
                    } else {
                        return membership[0].credit;
                    }
                } else {
                    return undefined;
                }
            };
  div#dlg_books.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加绘本
        div.modal-body
          div.row
            label.control-label.col-sm-2
            label.control-label.col-sm-3 绘本名称
            label.control-label.col-sm-3 上课老师
            label.control-label.col-sm-3 课程内容
          // at most there could be 3 books in one class
          - each book in [1,2,3]
            div.book-item.row
              label.control-label.col-sm-1(style="line-height:34px") #{book}
              div.col-sm-4(style="padding-left:0px")
                input.form-control(type='text',name='book_name',placeholder='请输入',autofocus)
              div.col-sm-3(style="padding-left:0px")
                input.form-control(type='text',name='book_teacher',placeholder='请输入')
              div.col-sm-4(style="padding-left:0px")
                input.form-control(type='text',name='book_info',placeholder='请输入')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#btn_modify_books.btn.btn-success(type="button") 确定
  div#alert_bar.bb-alert.alert-danger.alert(style='display:none')
    span >some message<