extends ../index

block navlist
  ul.nav.navbar-nav
    li.active
      a(href='#') 课程表
    li
      a(href='member') 会员
    li
      a(href='course') 班级
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src="//cdn.bootcss.com/i18next-browser-languagedetector/1.0.1/i18nextBrowserLanguageDetector.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  if ENV_DEVELOPMENT
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.js")
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.js")
  else
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.min.js")
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.min.js")
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src='/js/main.js')

block page
  div.container(style={'padding-top': '50px'})
    div.row(style={'margin-top': '15px'})
      div.col-sm-4.btn-group
        button#previous_week.btn.btn-primary.btn-sm 上一周
        button#current_week.btn.btn-primary.btn-sm 本周
        button#next_week.btn.btn-primary.btn-sm 下一周
        div#weekPicker.input-group.input-group-sm.date
          input.form-control(type="text")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.col-sm-2.pull-right
        select#chooseRoom.form-control.input-sm(style='float:right')
          - each room in classroom
            option(value=room.id)= room.name
        //span(style='float:right;line-height:30px') 教室: 
    div#create_cls_panel.row(style='margin-top:15px;display:none')
      div.col-sm-12(style='height:200px;background-color:#eee')
        a.btn.btn-success(style='margin:83px auto;display:table',href='setting') 创建教室
    div#cls_app
      create-class-modal(ref='createClsDlg',@ok='createClass')
      table#cls_table.class-table.table.table-bordered(style='margin-top:15px;display:none')
        thead
          tr
            th(style='width:60px;text-align:center') 时间
            th(v-for='(col, index) in columns') {{col}}
              div {{index | displayWeekDay(monday)}}
        tbody
          tr(v-for='(section, i) in sections')
            td {{section.name}}
            td(v-for='(col, j) in columns',style='padding:0')
              class-list(:data='getClassess(j, section.startTime, section.duration)',v-on:view="viewClass",v-on:delete="deleteClass",v-on:add="addClass(j,section.startTime)")
  div#alert_bar.bb-alert.alert-danger.alert(style='display:none')
    span >some message<