extends ../index

block navlist
  ul.nav.navbar-nav
    li.active
      a(href='#') 课程表
    li
      a(href='/bqsq/member') 会员

append js
  script(src='/components/requirejs/require.js',data-main="/js/main")

block page
  div.container(style={'padding-top': '50px'})
    div.row(style={'margin-top': '15px'})
      div.col-md-1.pull-left
        button.btn.btn-primary.pull-left 上一周
      div.col-md-2.col-md-offset-4
        p= new Date()
      div.col-md-1.pull-right
        button.btn.btn-primary.pull-right 下一周
    table#cls_table.table.table-bordered(style={'margin-top': '15px'})
        thead
          tr
            th 时间
            th 星期一
            th 星期二
            th 星期三
            th 星期四
            th 星期五
            th 星期六
            th 星期日
        tbody
          tr
            td 上午
            td
            td
            td
            td
            td
            td
            td
          tr
            td 下午
            td
            td
            td
            td
            td
            td
            td
          tr
            td 晚上
            td
            td
            td
            td
            td
            td
            td

        
     
    