extends ../index

block navlist
  ul.nav.navbar-nav
    li.active
      a(href='#') 课程表
    li
      a(href='member') 会员

append js
  script(src='/components/requirejs/require.js',data-main="/js/main")

block page
  div.container(style={'padding-top': '50px'})
    div.row(style={'margin-top': '15px'})
      div.col-md-1.pull-left
        button.btn.btn-primary.pull-left 上一周
      div.col-md-4.col-md-offset-3
        p= new Date()
      div.col-md-1.pull-right
        button.btn.btn-primary.pull-right 下一周
    table#cls_table.table.table-bordered.table-hover(style={'margin-top': '15px'})
        thead#schedule_header
          tr
            th 时间
            th 星期一
            th 星期二
            th 星期三
            th 星期四
            th 星期五
            th 星期六
            th 星期日
        tbody
          tr#morning
            td 上午
            td.success
              p 贵贵妈妈《蚂蚁和西瓜》《蚂蚁散步》
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 4
                button.btn.btn-danger 删除
            td
              p 嘉嘉妈妈 刷牙主题
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
            td.success
              p 肉丸妈妈 英文故事会
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
            td
              p 添在妈妈 绘画主题《小蜡笔大罢工》《画了一匹蓝马的画家》
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
            td
              p 贵贵妈妈《蚂蚁和西瓜》《蚂蚁散步》
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
            td
              p 幼教朱老师 霸王龙系列
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
            td
              p 幼教朱老师 霸王龙系列
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-primary 查看
                  span.badge 0
          tr#afternoon
            td 下午
            td
              div.btn-group.btn-group-xs.pull-right
                button.btn.btn-default +
            td
            td
            td
            td
            td
            td
          tr#evening
            td 晚上
            td
            td
            td
            td
            td
            td
            td

        
     
    