extends ../index

block navlist
  ul.nav.navbar-nav
    li.active
      a(href='#') 课程表
    li
      a(href='member') 会员
    li
      a(href='course') 班级
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src="//cdn.bootcss.com/i18next-browser-languagedetector/1.0.1/i18nextBrowserLanguageDetector.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  if ENV_DEVELOPMENT
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.js")
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.js")
  else
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.min.js")
    script(src="//cdn.bootcss.com/i18next/8.2.1/i18next.min.js")
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src='/js/main.js')

block page
  div.container(style={'padding-top': '50px'})
    div.row(style={'margin-top': '15px'})
      div.col-sm-4.btn-group
        button#previous_week.btn.btn-primary.btn-sm 上一周
        button#current_week.btn.btn-primary.btn-sm 本周
        button#next_week.btn.btn-primary.btn-sm 下一周
        div#weekPicker.input-group.input-group-sm.date
          input.form-control(type="text")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.col-sm-2.pull-right
        select#chooseRoom.form-control.input-sm(style='float:right')
          - each room in classroom
            option(value=room.id)= room.name
        //span(style='float:right;line-height:30px') 教室: 
    div#create_cls_panel.row(style='margin-top:15px;display:none')
      div.col-sm-12(style='height:200px;background-color:#eee')
        a.btn.btn-success(style='margin:83px auto;display:table',href='setting') 创建教室
    table#cls_table.class-table.table.table-bordered(style='margin-top:15px;display:none')
      thead
        tr
          th(style='width:60px;text-align:center') 时间
          th(v-for='(col, index) in columns') {{col}}
            div {{index | displayWeekDay(monday)}}
      tbody
        tr(v-for='(section, i) in sections')
          td {{section.name}}
          td(v-for='(col, j) in columns',style='padding:0')
            class-list(:data='getClassess(j, section.startTime, section.duration)',v-on:view="viewClass",v-on:delete="deleteClass",v-on:add="addClass(j,section.startTime)")

  script#classlist-template(type='text/x-template')
    div
      template(v-for='classItem in data')
        div.class-item-div(v-bind:class="[reservation(classItem) > 0 ? 'bg-success' : 'bg-info']")
          div.small(style='color:#777;display:flex;justify-content:space-between')
            div(style='display:inline-flex')
              span.glyphicon.glyphicon-time(style='color:#999;margin-right:1px')
              |{{classItem.date | displayTime}}
            div(style='display:inline-flex')
              span.glyphicon.glyphicon-user(style='margin:0 2px',:title='reservation(classItem) + "人预约"')
              |{{reservation(classItem)}}
              span.glyphicon.glyphicon-book(style='margin:0 2px',:title='books(classItem) + "本绘本"')
              |{{books(classItem)}}
          p(style='padding-bottom:7px;cursor:pointer',v-on:click='$emit("view", classItem)',title='点击查看课程详情') {{classItem.name}}
          div.btn-group.btn-group-xs(style='align-self:flex-end;display:inline-flex')
            a.btn.btn-primary(:href='"./class/" + classItem._id')
              |查看
              //span.badge(style='margin-left:3px') {{reservation(classItem)}}
            button.btn.btn-danger(v-on:click='$emit("delete", classItem)',title='删除')
              span.glyphicon.glyphicon-trash
      div(style='display:flex')
        button.btn.btn-xs.btn-default(v-on:click='$emit("add")',style='margin:3px auto;border:none;color:#555',title='创建课程')
          span.glyphicon.glyphicon-plus
    
  div#cls_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加常规课程
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='cls_name') 课程名称:
              div.col-sm-10
                input#cls_name.form-control(type='text',placeholder='课程描述',autofocus)
            div.form-group
              label.control-label.col-sm-2(for='cost') 所须课时:
              div.col-sm-2
                input.form-control(type='number',name='cost',min='0',step='0.1')
            div.form-group
              label.control-label.col-sm-2 时间:
              div.col-sm-10
                p#cls_date.form-control-static(style="width:100px;float:left")
                div#cls_time.input-group.date(style="width:150px;float:left")
                  input.form-control(type="text")
                  span.input-group-addon
                    span.glyphicon.glyphicon-time
            div.form-group
              label.control-label.col-sm-2(for='') 年龄:
              div.col-sm-10(style="display:inline-flex")
                input.form-control(type='number',name='age_min',min='0',style={'width':'60px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px','float':'left'}) 至
                input.form-control(type='number',name='age_max',min='0',style={'width':'60px','margin-left':'3px'})
                p.form-control-static(style={'display':'inline-block','margin-left':'3px'}) 月
            div.form-group
              label.control-label.col-sm-2(for='cls_capacity') 最大人数:
              div.col-sm-2
                input#cls_capacity.form-control(type='number',name='cls_capacity',min='0')
        div.modal-footer
          p.small(style='color:#777;float:left;margin-top:7px') *如果需要添加课程到指定班级，请到班级设置中添加
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#create_cls.btn.btn-success(type="button") 添加
  div#alert_bar.bb-alert.alert-danger.alert(style='display:none')
    span >some message<