extends ../index

block navlist
  ul.nav.navbar-nav
    li
      a(href='home') 课程表
    li.active
      a(href='#') 会员
    li
      a(href='course') 班级
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  script(src='/js/member.js')

block page
  div.container(style={'padding-top': '58px'})
    div.statusFilter.row
      div.col-sm-12
        label(style='font-size:90%;margin-right:7px') 状态:
        button.btn.btn-info.btn-sm(type='button',data-filter='active') 正常
        button.btn.btn-default.btn-sm(type='button',data-filter='inactive') 停用
    div.row(style='border-bottom:1px solid #eee;margin:7px 0 0 0')
    div#toolbar.btn-group(role='group')
      button#viewMember.btn.btn-primary(type='button') 查看
      button.btn.btn-success(type='button',data-toggle='modal',data-target='#member_dlg', data-action='add') 添加
      button.btn.btn-default(type='button',data-toggle='modal',data-target='#filter_dlg', data-action='filter')
        span.glyphicon.glyphicon-filter
    table#member_table(data-show-refresh='true',data-checkbox-header='false',data-pagination='true',data-page-size='15',data-page-list='[10,15,20,50,All]',data-search='true',data-striped='true',data-url='/api/members',data-row-style='highlightExpire',data-show-columns='true',data-toolbar='#toolbar',data-unique-id="_id",data-click-to-select="true")
      thead
        tr
          th(data-radio='true')
          //th(data-field='_id',data-visible='false') ID
          th(data-field='name',data-sortable='true') 宝宝姓名
          th(data-field='contact') 联系方式
          th(data-field='birthday',data-sortable='true') 宝宝生日
          th(data-sortable='true',data-sort-name='membership.0.credit') 剩余课时
          th(data-sortable='true',data-sort-name='membership.0.expire') 有效期
          //th(data-field='since',data-sortable='true') 登记时间
          th(data-align='center') 操作
          th(data-field='note',data-visible='false') 简介
    p.small 有效会员: <strong>#{statistics.count}</strong>人<br>剩余课时: <b>#{statistics.total}</b>
  div#member_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加会员
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='name') 宝宝姓名:
              div.col-sm-4
                input.form-control(type='text',name='name',placeholder='宝宝姓名')
            div.form-group
              label.control-label.col-sm-2(for='contact') 联系方式:
              div.col-sm-4
                input.form-control(type='tel',name='contact',placeholder='135xxx')
            div.form-group
              label.control-label.col-sm-2(for='birth') 宝宝生日:
              div.col-sm-4
                div#birth_date.input-group.date
                  input.form-control(type='text',name='brith')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group
              label.control-label.col-sm-2(for='note') 简介:
              div.col-sm-10
                textarea.form-control(rows='3', name='note')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_member.btn.btn-success(type="button") 添加
  div#filter_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员过滤
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:auto')
              p.form-control-static(style='color:#808080;text-align:center')
                small 请选择一个过滤条件，并在更改后点击会员列表右上角的刷新按钮
            div.form-group
              label.control-label.col-sm-2 过滤条件:
              div.col-sm-10
                div.radio
                  label
                    input(type="radio", name="filter", value="null", checked)
                    | 显示全部会员
                - each room in classroom
                  div.radio
                    label
                      input(type="radio", name="filter", value=room.id)
                      | 显示只能在<u>#{room.name}</u>消费的会员
        div.modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") 确定