extends ../index

block navlist
  ul.nav.navbar-nav
    li
      a(href='home') 课程表
    li.active
      a(href='#') 会员
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置
      
append css
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css")
  link(rel="stylesheet",href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

append pagjs
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  script(src='/components/bootbox.js/bootbox.js')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js")
  script(src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src='/js/member.js')

block page
  div.container(style={'padding-top': '58px'})
    div#toolbar.btn-group(role='group')
      button.btn.btn-success(type='button',data-toggle='modal',data-target='#member_dlg', data-action='add') 添加
      button.btn.btn-primary(type='button',data-toggle='modal',data-target='#member_dlg', data-action='edit') 查看
      button#del_member.btn.btn-danger(type='button') 删除
    table#member_table(data-toggle="table",data-show-refresh='true',data-checkbox-header='false',data-pagination='true',data-page-size='15',data-page-list='[10,15,20,50,All]',data-search='true',data-striped='true',data-url='api/members',data-row-style='highlightExpire',data-show-columns='true',data-toolbar='#toolbar',data-unique-id="_id",data-click-to-select="true")
      thead
        tr
          th(data-radio='true')
          //th(data-field='_id',data-visible='false') ID
          th(data-field='name',data-sortable='true') 宝宝姓名
          th(data-field='contact') 联系方式
          th(data-field='birthday',data-formatter='dateFormatter',data-sortable='true') 宝宝生日
          th(data-field='credit',data-sortable='true') 剩余课时
          th(data-field='expire',data-formatter='dateFormatter',data-sortable='true') 有效期至
          th(data-field='since',data-formatter='dateFormatter',data-sortable='true') 登记时间
          th(data-field='note',data-visible='false') 备注

  div#member_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加会员
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='member_name') 宝宝姓名:
              div.col-sm-10
                input.form-control(type='text',name='name',placeholder='宝宝姓名')
            div.form-group
              label.control-label.col-sm-2(for='member_contact') 联系方式:
              div.col-sm-10
                input.form-control(type='text',name='contact',placeholder='135xxx')
            div.form-group
              label.control-label.col-sm-2(for='birth_date') 宝宝生日:
              div.col-sm-4
                div#birth_date.input-group.date
                  input.form-control(text='text',name='brith')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group
              label.control-label.col-sm-2(for='credit') 课时:
              div.col-sm-4
                div.input-group
                  input.form-control(type='number',name='credit',min='0',step='0.1',style={'width':'70px'})
                  p.form-control-static(style={'display':'inline-block','margin-left':'3px'}) 次(剩余)
            div.form-group
              label.control-label.col-sm-2(for='expire_date') 有效期至:
              div.col-sm-4
                div#expire_date.input-group.date
                  input.form-control(text='text')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group
              label.control-label.col-sm-2(for='note') 备注:
              div.col-sm-10
                textarea.form-control(rows='3', name='note')
        div.modal-footer
          button#view_history.btn.btn-primary.pull-left(type="button") 历史课程
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_member.btn.btn-success(type="button") 添加
          button#edit_member.btn.btn-success(type="button") 修改

  div#history_member.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 会员历史课程
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 宝宝姓名:
              div.col-sm-10
                p#name.form-control-static
          table(data-toggle="table",data-checkbox-header='false',data-striped='true',data-pagination='true',data-page-size='10',data-unique-id="_id")
            thead
              tr
                //th(data-field='_id',data-visible='false') ID
                th(data-field='name') 课程名称
                th(data-field='cost') 所须课时
                th(data-field='date',data-formatter='dateFormatter',data-sortable='true') 课程日期

  script(type='text/javascript').
    function dateFormatter(value) {
        if (value) {
            return moment(value).format('ll');
        } else {
            return undefined;
        }
    };
    function highlightExpire(row, index) {
        if (row.expire) {
            var expire = new Date(row.expire);
            // highlight the row if member is expired
            if (expire < new Date()) {
                return {
                    classes: 'danger'
                };
            }
            // highlight the row if member has no credit
            if (row.hasOwnProperty('credit') && row.credit <= 0) {
                return {
                    classes: 'danger'
                };
            }
        }
        return {};
    };