extends ../layout

block prepend css
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

block content
  script(type='text/javascript').
    function getCurrentUser() {
        return '#{openid}';
    };
    function getTimeKey() {
        return #{timeKey};
    };
  div#main.container(style='padding-left:7px;padding-right:7px')
    div.row(style='margin-left:-7px;margin-right:-7px')
      img.img-responsive.center-block(src='/img/logo.png')
    form#login.form-horizontal(style='margin-top:15px;display:none;padding-left:8px;padding-right:8px',role='form')
        div.form-group.form-group-sm
          div.col-xs-12
            p.form-control-static(style='color:#808080;text-align:center') 请输入小朋友姓名和联系方式查看预约课程
        div.form-group.form-group-sm
          label.control-label-sm.col-xs-3(for='cls_name') 姓名:
          div.col-xs-9
            input.form-control(type='text',placeholder='小朋友注册时用的姓名',name='name')
        div.form-group.form-group-sm
          label.control-label-sm.col-xs-3(for='cls_name') 联系方式:
          div.col-xs-9
            input.form-control(type='text',placeholder='135xxx',name='contact')
        div.form-group
          div.col-xs-offset-3.col-xs-9
            button.btn.btn-primary 查看预约
    div#user_info.row(style='margin:7px -7px 3px -7px')
      p.pull-left.col-xs-10
        你好，小朋友
      div.col-xs-2(style='padding-right:9px')
        button.btn.btn-danger.btn-xs.pull-right 注销

    ul.nav.nav-tabs(role='tablist',style='display:none')
      li.active(role='presentation')
        a.btn-xs(href="#future",role='tab',data-toggle='tab',style='padding:3px 7px') 预约课程
      li(role='presentation')
        a.btn-xs(href="#history",role='tab',data-toggle='tab',style='padding:3px 7px') 历史课程
    div.tab-content(style='display:none')
      div.tab-pane.active(role="tabpanel",id="future")
      div.tab-pane(role="tabpanel",id="history")

  div#error_dlg.modal(tabindex='-1',data-backdrop='static')
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 登录失败
        div.modal-body
          p#message
          p
            small 客服电话: 
              a(href='tel:13661622231') 136 6162 2231
            br
            small 门店地址: 
              a(href='http://j.map.baidu.com/39KKB') 宝翔路801号五彩城3楼307
        div.modal-footer
          button#error_ok.btn.btn-danger(type="button",data-dismiss="modal") 确定

  script(src='https://code.jquery.com/jquery-1.12.3.min.js', integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=', crossorigin='anonymous')
  //script(src='/components/requirejs/require.js',data-main="/js/booking")
  script(src='/js/mybooking.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
  script(src='/components/moment/min/moment-with-locales.min.js')
  //script(src='/components/bootbox.js/bootbox.js')
