ul.navbar-nav.me-auto
  each val, index in {home:__('curriculum'),member:__('members'),course:__('classes'),orders:__('orders'),statistics:__('statistics'),setting:__('settings')}
    li.nav-item
      if currentUrl === index
        a.nav-link.active(href='#') #{val}
      else
        a.nav-link(href=index) #{val}
