ul.nav.navbar-nav
  each val, index in {home:__('curriculum'),member:__('members'),course:__('classes'),finance:__('constracts'),statistics:__('statistics'),setting:__('settings')}
    li(class={active: currentUrl === index})
      if currentUrl === index
        a(href='#') #{val}
      else
        a(href=index) #{val}
