extends ../index

block navlist
  ul.nav.navbar-nav
    li
      a(href='home') 课程表
    li
      a(href='member') 会员
    li
      a(href='opportunity') 试听
    li.active
      a(href='#') 设置
      
append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css")
  //link(rel="stylesheet",href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

append pagjs
  //script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js")
  //script(src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src='/js/setting.js')

block page
  div.container(style={'padding-top': '58px'})
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation')
        a(href="#general",role='tab',data-toggle='tab') 综合
      li.active(role='presentation')
        a(href="#classroom",role='tab',data-toggle='tab') 教室
      li(role='presentation')
        a(href="#analytics",role='tab',data-toggle='tab') 统计
    div.tab-content
      div.tab-pane.active(role="tabpanel",id="classroom",style="padding:7px")
        div#toolbar.btn-group(role='group')
          button.btn.btn-success(type='button',data-toggle='modal',data-target='#clsroom_dlg', data-action='add') 添加
        table#classroom_table(data-toggle="table",data-checkbox-header='false',data-striped='true',data-unique-id="id",data-show-refresh='true',data-toolbar='#toolbar',data-url='api/setting/classrooms')
            thead
              tr
                th(data-field='id',data-sortable='true') 教室ID
                th(data-field='name') 教室名字
                th(data-title='删除',data-align='center',data-formatter='deleteFormatter',data-events='handleDeleteClassroom')
      div.tab-pane(role="tabpanel",id="general",style="padding:7px")
        p 暂未开放
      div.tab-pane(role="tabpanel",id="analytics",style="padding:7px")
        div.row
          div.col-md-1.pull-right(style="display:inline-flex")
            button.btn.btn-default#refresh(type="button") 刷新
          div.col-md-3.pull-right(style="display:inline-flex")
            p.form-control-static(style="display:inline-table") 单位：
            select#unit.form-control
              option(value='month') 月
              option(value='week') 周
          div.col-md-3.pull-right(style="display:inline-flex")
            p.form-control-static(style="display:inline-table") 年份： 
            select#year.form-control
              option(value=2016) 2016
              option(value=2017) 2017
        div.row(style="margin-top:15px")
          div#consume_chart(style="height:400px")
    script(type='text/javascript').
        function deleteFormatter(value) {
            return [
                '<a class="remove text-danger" href="javascript:void(0)" title="删除">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>'
            ].join('');
        };
  div#clsroom_dlg.modal.fade(tabindex='-1',role='dialog',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 添加教室
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='classroom_id') 教室ID:
              div.col-sm-10
                input#classroom_id.form-control(type='text',name='id',placeholder='英文字母或数字')
            div.form-group
              label.control-label.col-sm-2(for='classroom_name') 教室名字:
              div.col-sm-10
                input#classroom_name.form-control(type='text',name='name',placeholder='教室名字')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_room.btn.btn-success(type="button") 添加
          //button#edit_member.btn.btn-success(type="button") 修改