extends ../index

block navlist
  ul.nav.navbar-nav
    li
      a(href='home') 课程表
    li
      a(href='member') 会员
    li.active
      a(href='#') 设置
      
append css
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css")
  //link(rel="stylesheet",href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

append pagjs
  //script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  script(src='/components/bootbox.js/bootbox.js')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js")
  //script(src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src='/js/setting.js')

block page
  div.container(style={'padding-top': '58px'})
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation')
        a(href="#general",role='tab',data-toggle='tab') 综合
      li.active(role='presentation')
        a(href="#classroom",role='tab',data-toggle='tab') 教室
    div.tab-content
      div.tab-pane.active(role="tabpanel",id="classroom")
        p 暂未开放
      div.tab-pane(role="tabpanel",id="general")
        p 暂未开放
    script(type='text/javascript').
        function deleteFormatter(value) {
            return [
                '<a class="remove text-danger" href="javascript:void(0)" title="取消">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>'
            ].join('');
        };